@if (Request.IsAuthenticated)
{
    <text>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("Presentations", "My")">Presentations <span class="badge">@ViewBag.UserPresentationCount</span></a></li>
            <li><a href="@Url.Action("Feedback", "My")">Feedback <span class="badge">@ViewBag.FeedbackCount</span></a></li>
            <li class="navbar-text">
                <span class="label label-default">@User.Identity.Name</span>
            </li>
            <li>
                @Html.ActionLink("Sign out", "SignOut", "Account")
            </li>
        </ul>
    </text>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
