@model List<Models.Presentation>

<h1>My Presentations</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Presentation</th>
        <th>Created On</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var presentation in Model.OrderByDescending(m => m.DateCreated))
    {
        <tr>
            <td class="text-center">
                <a class="btn btn-default" href="@Url.Action("Create", "Talk", new { presentationId = presentation.Id})" role="button">
                    <span class="glyphicon glyphicon-blackboard"></span>
                </a>
                <a class="btn btn-primary" href="@Url.Action("Edit", "Presentation", new {id = presentation.Id})" role="button">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </td>
            <td>@presentation.Name</td>
            <td>@presentation.DateCreated</td>
            <td class="text-center">
                <a class="btn btn-danger" href="@Url.Action("Delete", "Presentation", new {id = presentation.Id})" role="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>